.bioVault {
  position: absolute;
  z-index: 1;
  top: 28px;
  left: 65px;
  font-style: normal;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  font-size: 28px;
  color: #615b64;
  letter-spacing: -1px;
}
.litalics {
  font-style: italic;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  color: #120f91;
}
.iitalics {
  font-style: italic;
  font-family: "DM Serif Display", serif;
  font-weight: bold;
  color: #615b64;
}
.letteru {
  color: #120f91;
}
.blackText {
  color: #120f91;
}
.cufinger {
  position: absolute;
  top: 15px;
  left: 15px;
}

.rect {
  position: absolute;
  top: 80px;
  left: 460px;
  height: 500px;
  width: 440px;
  overflow: hidden;
  border: 0.5px solid;
  border-radius: 24px;
  background-color: #f7f7f1;
  border-color: #c2c5be;
  z-index: 2;
}
.login {
  position: absolute;
  z-index: 2;
  top: 45px;
  left: 187px;
  font-style: italic;
  font-family: "DM Mono", monospace;
  font-size: 22px;
  color: #39207f;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
}
.outcircle1 {
  position: absolute;
  top: -10px;
  left: 670px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #dc8a5b;
  filter: blur(50px);
  z-index: -1;
}

.outcircle2 {
  position: absolute;
  top: 450px;
  left: 350px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #9596ad;
  filter: blur(50px);
  z-index: -1;
}

.outcircle3 {
  position: absolute;
  top: 480px;
  left: 1200px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: #dcd75b;
  filter: blur(60px);
}
.box {
  padding: 20px;
  height: 0px;
  width: 250px;
  border: 1px solid;
  border-radius: 14px;
  border-color: #2b21a1;
  margin-bottom: 35px;
  line-height: 10px;
}
.boxcontainer {
  position: absolute;
  top: 115px;
  left: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.submit {
  position: absolute;
  top: 310px;
  left: 122px;
  font-style: normal;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  color: #0c1141;
  font-weight: 100;
  z-index: 1;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}
.submit img {
  position: absolute;
  top: -4.5px;
  left: -15px;
  z-index: -1;
  background: none;
  outline: none;
  cursor: pointer;
}
/* 
.submit img:hover {
  border: 2px solid #ffffff;
  border-radius: 16px;
} */
.upload {
  position: absolute;
  top: 285px;
  left: 170px;
  z-index: 1;
  cursor: pointer;
  border: 2px solid transparent;
}

.upload:hover {
  border: 1px solid #0c1141;
  border-radius: 16px;
}

.choosefile {
  position: absolute;
  top: 176px;
  left: 5px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  color: #0c1141;
  font-weight: 500;
}

.enter {
  position: absolute;
  top: -27px;
  left: 8px;
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-family: "DM Mono", monospace;
  font-size: 16px;
  color: #0c1141;
  font-weight: 500;
}
.entering {
  margin-bottom: 60px;
}
.line {
  position: absolute;
  top: 440px;
  left: 69px;
  width: 300px;
  height: 1px;
  background-color: rgba(12, 17, 65, 0.46);
  margin-bottom: 80px;
}
.already {
  position: absolute;
  top: 457px;
  left: 110px;
  font-style: normal;
  font-family: "DM Mono", monospace;
  font-size: 12px;
  color: #6d6e7a;
  font-weight: 500;
}
.reg {
  position: absolute;
  top: 455px;
  left: 240px;
  font-style: italic;
  font-family: "DM Mono", monospace;
  font-size: 14px;
  color: #39207f;
  font-weight: 600;
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
}
.u2 {
  position: absolute;
  top: 170px;
  left: 1170px;
}
.u4 {
  position: absolute;
  top: 400px;
  left: 400px;
}
.box:focus {
  outline-color: rgb(164, 164, 190);
  outline-width: 0.5px;
  background-color: none;
}
.boxcontainer {
  background: transparent;
}
